
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
<title>Hasan Online Test | Contact :: </title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Negotiation Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
    {% load static %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style (2).css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<!-- //js -->
<!-- font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
<!-- //font-awesome icons -->
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
<style>
    .agileits_w3layouts_banner_info {
    margin: 12px;

}
    .banner {
    min-height: 200px;
}
</style>
</head>
<body>
<!-- banner -->
	<div class="w3ls-banner-info-bottom bg-primary">
		<div class="container">
			<div class="banner-address">
				<div class="col-md-3 banner-address-left">
					<p><i class="fa fa-map-marker" aria-hidden="true"></i> Karachi gulberg </p>
				</div>
				<div class="col-md-3 banner-address-left">
					<p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="#" style="color:white;">hasan.com</a></p>
				</div>
				<div class="col-md-3 banner-address-left">
					<p><i class="fa fa-phone" aria-hidden="true"></i> 92335921997</p>
				</div>
					<div class="col-md-3 agile_banner_social">

					</div>
					<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="header bg-primary">
		<div class="container" style="background-color: green;">
			<nav class="navbar navbar-default" style="background-color: skyblue;">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"> Hasan Online Examination Website</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-13" id="cl-effect-13">
						<ul class="nav navbar-nav">
							<li><a href="/home">Home</a></li>
                            	<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="#">Hasan Information System</a></li>
									<li><a href="#">Services</a></li>
								</ul>
							</li>

							<li><a href="#">Courses</a></li>
                            <li><a href="#">Exams</a></li>


                            <li class="active"><a href="/contact">Contact</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
						</ul>
						<div class="w3_agile_login">
							<div class="cd-main-header">
								<a class="cd-search-trigger" href="#cd-search"> <span></span></a>
								<!-- cd-header-buttons -->
							</div>
							<div id="cd-search" class="cd-search">
								<form action="#" method="post">
									<input name="Search" type="search" placeholder="Search...">
								</form>
							</div>
						</div>
					</nav>
				</div>
			</nav>
		</div>
	</div>

	<div class="banner1">
	</div>
<!-- //banner -->	
<!-- contact -->
	<div class="contact agileits" style="background-color: red;color:white;">
		<div class="container">  
			<div class="agileits-title">
				<h2 class="w3ls_head"><span>Contact </span>Us</h2>
			</div>  
			<div class="contact-agileinfo">
				<div class="col-md-7 contact-form wthree">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input class="email" type="email" name="Email" placeholder="Email" required="">
						<input placeholder="Message" name="Message" required="">
						<input type="submit" class="btn btn-success" value="SUBMIT">
					</form>
				</div>
				<div class="col-md-4 contact-right wthree">
					<div class="contact-text w3-agileits">
						<h4>GET IN TOUCH :</h4>
						<p><i class="fa fa-map-marker"></i> Gulberg Town Karachi</p>
						<p><i class="fa fa-phone"></i> Phone Number : 9219977</p>
						<p><i class="fa fa-fax"></i> Telephone : 9219977</p>
						<p><i class="fa fa-envelope-o"></i> Email Address: <a href="#">hasan.com</a></p>
					</div> 
				</div> 
				<div class="clearfix"> </div>	
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<div class="agile-footer-grids">
				<div class="col-md-4 agile-footer-grid">
					<h4>Contact Us</h4>
					<p>LOCATION:<span> Brgy.Enclaro,Binalbagan</span></p>
					<p>CALL US:<span> 09121234567 or 811-8000</span></p>
				</div>
				<div class="col-md-4 agile-footer-grid">
					<h4>ABOUT Hasan </h4>
					<p>Hasan offers online educational programs at all levels (elementary, secondary and tertiary) including a graduate program for masters and doctoral level. Non-degree courses of two to three years provide opportunities for graduates to continue and finish allied degrees (ladderized).</p>
				</div>
				<div class="col-md-2 agile-footer-grid">
					<h4>Hasan Exams Schedules</h4>
					<ul>
						<li>March 16, 2021<a href="#"> Hasan</a></li>
						<li>April 16, 2021<a href="#"> Hasan Accredetation Room</a></li>
						<li>May 16, 2021<a href="#"> Hasan Computer Laboratory</a></li>

					</ul>
				</div>

		</div>
	</div>
	<!-- //footer -->
	<!-- copyright -->
	<div class="agileits-w3layouts-copyright bg-primary fg-white">
		<div class="container">
			<center><p>© 2022 Hasan ONLINE EXAMINATION SYSTEM</p></center>
		</div>
	</div>
<!-- //copyright -->
<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>